.um
{
    margin:10px;
    height: 300px;
    width: 45%;
    background-color: aqua;
}
.um
{
    margin:10px;
    height: 300px;
    width: 45%;
    background-color: aqua;
}

.um
{
    margin:10px;
    height: 300px;
    width: 45%;
    background-color: aqua;
}

.um
{
    margin:10px;
    height: 300px;
    width: 45%;
    background-color: aqua;
}

.um
{
    margin:10px;
    height: 300px;
    width: 45%;
    background-color: aqua;
}
